@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

:root {
  --add-btn-color: rgb(101, 216, 8);
  --check-btn-color: #182cdf;
  --remove-btn-color: rgba(230, 10, 10, 0.932);
  --text-primary-color:rgba(230, 10, 10, 0.932) ;
  --text-secondary-color:#182cdf;
  --time-duration: 0.3s;
  --time-function: ease-in-out;
}

html {
  font-size: 62.5%;
  /*font-family: "JetBrains Mono", sans-serif;*/
  font-family: 'Play', sans-serif;
}

body {
  font-size: 1.2rem;
  margin: 0 auto;
  background: linear-gradient(to right, #182cdf 0%, #182cdf 22%, rgb(74, 163, 1) 50%,#182cdf 77%, #182cdf 100%);
}

h1, h2, h3, p {
  margin: 0;
  font-family: 'Play', sans-serif;
}

h2 {
  padding: 10px;
  color: rgb(101, 216, 8);
}

p, p2 {
  color:rgb(101, 216, 8);
}

main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.heading {
  align-self: flex-start;
  font-size: 2.5rem;
  margin-bottom: 20px;
  transform: translate3d(0, -1rem, 0);
  opacity: 0;
  visibility: hidden;
  transition-property: transform, visibility, opacity;
}

.heading.show {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/* list */
.list {
  padding: 10px;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

.list-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1.5px solid var(--text-secondary-color);
  border-radius: 2px;
  box-shadow: 0 2px 5cqb rgba(0, 0, 0, 0.7);
}

/* task-description */
.task-description{
  width: 70%;
  font-size: 1.4rem;
  transition: color 0.5s ease;
  color:#182cdf;
}

.task-description p:first-child{
  font-size: 1rem;
  margin-bottom: 5px;
  transition: color 0.5s ease; 
}

/* Fade effect for the completed tasks */
.complete-task{
  transition: opacity 0.5s ease;
  color:#182cdf;
}
.complete-task.fade-in {
  opacity: 1; 
  background-color: rgb(96, 189, 20);
  transition: opacity 0.5s ease;
  color:#182cdf;
}

.complete-task .task-description,
.complete-task .task-description p,
.complete-task .task-description p2 {
  transition: color 05.s ease;
  color:#182cdf;
}

/* task form */
.task-form {
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5cqb rgb(96, 189, 20)(0, 0, 0, 0.7);
}

.task-form textarea {
  width: 100%;
  resize: none;
  outline: none;
  color:#182cdf;
  border-radius: 8px;
  border: 1.5px solid rgb(96, 189, 20);
  padding: 10px;
  background-color: rgb(96, 189, 20);
  box-shadow: 0 8px 5cqb rgb(96, 189, 20)(0, 0, 0, 0.9);
  font-family: 'Play', sans-serif;
}

.task-form textarea:focus{
  border-color: #182cdf;
}

.task-form .btn-group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

@media screen and (min-width: 768px){
  .task-form{
    width: 500px;
  }
}

/* button */
.btn {
  background-color: unset;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  transition-property: color, background-color, border-color;
}

.btn-add {
  color: var(--add-btn-color);
  border-color:  var(--add-btn-color);
  font-size: 1.3rem;
  width: 100px;
  font-weight: bold;
  padding: 5px 10px;
  font-family: 'Play', sans-serif;
}

.btn-add:hover {
  background-color: var(--add-btn-color);
  color: rgba(10, 22, 54, 0.788);
}

.btn-complete {
  color: rgb(101, 216, 8);
  margin-right: 10px;
}

.btn-delete {
  color: var(--remove-btn-color);
}

.btn-complete,
.btn-delete{
  border-radius: 5px;
  padding: 10px;
}

.btn-complete:hover{
  border-color: var(--check-btn-color);
}

.btn-delete:hover{
  border-color: var(--remove-btn-color);
}

.btn-clear {
  border-color:  var(--remove-btn-color);
  color: var(--remove-btn-color);
  /*align-self: flex-start;*/
  justify-content: center;
  font-size: 2rem;
  padding: 5px 10px;
  margin-top: 10px;
  font-family: 'Play', sans-serif;
}

.btn-clear:hover{
  background-color: var(--remove-btn-color);
  color: white;
}

.btn-erase {
  border-color: var(--remove-btn-color);
  color: var(--remove-btn-color);
  font-weight: bold;
  transition-property: background-color, color;
  font-family: 'Play', sans-serif;
}

.btn-erase:hover {
  background-color: var(--remove-btn-color);
  color: white;
}

/* list container */
.list-container{
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  transition: var(--time-duration) var(--time-function);
    > div {
    overflow: hidden;
  }
}

.list-container.show {
  grid-template-rows: 1fr;
}

/* header */
.header {
  /*font-family: "Yuji Mai", 'Times New Roman', Times, serif;*/
  font-family: 'Play', sans-serif;
  font-size: 3rem;
  margin-bottom: 30px;
  color: #182cdf;
}

.header .icon {
  font-size: 2rem;
}

/* Animation */
.heading,
.btn{
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-function);
}

/* Animation for empty message*/
@keyframes fadeInOut {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

.empty-list {
  animation: fadeInOut 3s ease-in-out infinite;
  color: red;
  font-size: 1.5rem;
  font-family: 'Play', sans-serif;
  text-align: center;
  margin-top: 20px;
}